*{
    margin: 0;
    padding: 0;
}
.NavSuperior{
    position: relative;
    width: 100%;
    margin-inline: 600px;
    justify-content: center;
}
.navBar{
    color: #dcd0c0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f4f4f4;
    margin-bottom: 0.5px;
}
h2{
    text-align:center;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color:#665a5a;
    margin-top: 20px;
    margin-bottom: 20px;
}
footer{
  background-color: #f4f4f4;
}
.formNewsletter {
width: 50%;
margin-left: 18.75rem;
position: relative;
padding: 3px;
border-style: solid;
border-width: 1px;
}
h4{
  color:#665a5a;
  font-family: "Montserrat", sans-serif ;
  font-size:medium;
  font-weight: bold;
  text-align: center;
  margin-top: 3.125rem;
  margin-bottom: 1.25rem;
}
h5{
  color:#665a5a;
  font-family: "Montserrat", sans-serif ;
  font-size:medium;
  font-weight: bold;
  text-align: center;
  margin-top:3.125rem;
  margin-bottom: 1.25rem;
}
footer p {
  font-family: "Montserrat", sans-serif;
  font-size:small;
  text-align: center;
  color: #727171;
  margin-top: 1.25rem;
  margin-bottom: 0.625rem;
}
footer .tarjeta1{
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  margin-left: 20.3125rem;
}
footer .tarjeta2{
margin-top: 1.25rem;
margin-bottom: 1.25rem;
margin-left: 20.3125rem;
}
footer img{
  width: 1.875rem;
  height: auto;
}
@media (max-width: 575.98px){
  .NavSuperior{
    position: relative;
    width: 25%;
    margin-inline:300px;
    justify-content: left;
  }
  .navBar{
    justify-content: left;
    width: 100%;
    position: relative;
  }
    }
  @media (max-width: 1199.98px){
      .NavSuperior{
        position: relative;
        width: 25%;
        margin-inline:300px;
        justify-content: left;
    }
  .navBar{
    justify-content: left;
    margin-left: 20px;
    width: 100%;
    position: relative;
  }
  .formNewsletter{
    width: 50%;
    margin-left: 150px;
    position: relative;
    padding: 3px;
    border-style: solid;
    border-width: 1px;
  }
  footer .tarjeta1{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 250px;
  }
  footer .tarjeta2{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 250px;
  }
  .contacto{
    margin-left: 40px;
    margin-right: 20px;
  }
}