.carousel img {
    position: relative;
    overflow: hidden;
    width:1.875rem;
    height:33.125rem;
}
.carousel-inner{
    width:auto;
    height: auto;
    box-sizing: border-box;
    margin-top: 0.625rem;
}
h2{
    color:#665a5a;
    font-family: 'Montserrat', sans-serif;
    font-weight:nth($size , 4 );
}
h1{
    @include margen;
    color:nth($colores , 2 );
    font-weight: bold;
    text-align: center;
}
.imagenes1 {
    @include margen;
    @include margenes;
    align-items: center;
  }
  .imagenes2 {
    @include margen;
    @include margenes;
    align-items: center;
  }
  .imagenes3 {
    @include margen;
    @include margenes;
    align-items: center;
  }
  .imagen:hover {
    transform: scale(1.5, 1.5);
  }

    @media (max-width: 1199.98px){
      .carousel img {
      position: relative;
      overflow: hidden;
      width:15px;
      height:215px;
    }
    .carousel-inner{
      width:auto;
      height: auto;
      box-sizing: border-box;
      margin-top: 5px;
    }
    .texto{
      margin-left: 25px;
      margin-right: 25px;
    }
    }